<div id="dialog_has_card" class="modal hidden">
    <div class="notHasCardContainer" onclick="invoiceWithoutCard()">
        <h3> {{hasnt_card_label}} </h3>
        <img src="../images/ic_close.svg" width="40%" height="40%" style="margin-top: 8%;margin-bottom:8%;">
    </div>
    <div class="hasCardContainer" onclick="invoiceWithCard()">
        <h3> {{has_card_label}} </h3>
        <img src="../images/ic_credit_card_white.svg" width="50%" height="50%" style="margin-top: 5%;margin-bottom:5%;">
    </div>
</div>