<div id="dialog_payment_method" class="modal hidden">
    <div class="cashContainer" onclick="invoiceCreditCard()">
        <h3> {{label_card}} </h3>
        <img src="../images/ic_credit_card_white.svg" width="40%" height="40%" style="margin-top: 8%;margin-bottom:8%;" >
    </div>
    <div class="creditCardContainer" onclick="invoiceCash()">
        <h3> {{label_cash}} </h3>
        <img src="../images/ic_cash_white.svg" width="50%" height="50%" style="margin-top: 5%;margin-bottom:5%;">
    </div>
</div>