<div id="dialog_use_discount" class="modal hidden">
    <div class="notHasCardContainer" onclick="invoiceWithoutDiscount()">
        <h3> {{dont_use_discount}} </h3>
        <br><br>
        <img src="../images/ic_close.svg" width="40%" height="40%" style="margin-top: 8%;margin-bottom:8%;">
    </div>
    <div class="hasCardContainer" onclick="invoiceUseDiscount()">
        <h3> {{use_discount}} </h3>
        <h3 style="font-size:200%"> {{discount}} </h3>
        <img src="../images/ic_action_accept_white.svg" width="40%" height="40%" style="margin-top: 5%;margin-bottom:5%;">
    </div>
</div>