<link rel="stylesheet" href="../stylesheets/dialogs.css" type="text/css">
<div id="ticket" class="modal" style="display:none">
    <div id="ticket_container" class="shadow dialog_container" style="padding:25px; width:45%; height: 90%">
        <div style="margin-bottom: 10px">
            <p class="form_title light column_90" style="padding-left:0px"> {{dialog_title}} </p>
            <div class="column_10">
                <img src="../images/ic_close_dark.svg" width="26px" height="26px" class="form_close_dark" onclick="$('#ticket').hide()"/>
            </div>
        </div>
        <img src="../images/ticket_sample.jpg" width="100%" height="auto" style="max-height: 90%">
    </div>
</div>